body{
  background-color: powderblue;
}
h1{
  color: #628395;
}
  h3{
    color: #66BFBF;
  }


  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: red;
    border-width: 5px;
    width: 5%;
  }
img{
  background-color: silver;
}

.love{
  background-color: gold;
}
.heart{
  background-color: green;
}

#member{
  background-color: blue;
}
